# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Database
*.sqlite3
db.sqlite3

# Local Environment Variables
.env

# Static files
staticfiles/
media/

# Logs
*.log

#Bytecode
promptforge/production_settings.py
production_manage.py